.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text1 {
  font-size: 28px;
  width: 30%;
  left: 18%;
  top: 150px;
  position: absolute;
}

.text2 {
  font-size: 28px;
  width: 30%;
  right: 10%;
  position: absolute;
  top: 150px;
}

.text3 {
    font-size: 28px;
    width: 30%;
    right: 28.5%;
    position: absolute;
    top: 330px;
  }

  .text4 {
    font-size: 28px;
    width: 30%;
    right: 36%;
    position: absolute;
    top: 500px;
  }

.heart {
  position: relative;
}

.heart-img {
  max-width: 1000px ;
  min-width: 1000px;
  position: absolute;
  left: 12%;
  z-index: -10;
}

.heart-img-1 {
  max-width: 200px;
  position: absolute;
  right: 0;
  z-index: -10;
  top: 0;
}

.heart-img-2 {
  max-width: 200px;
  position: absolute;
  left: 0;
  z-index: -10;
}

body {
  background-color: #d5aab6;
}

.hidden {
  display: none;
}