body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #C8A2C8;
}
.ground {
  width: 100vw;
  height: 100vh;
  background: url('../img/i.png') no-repeat center center;
  background-size: cover;
}

.wrapper {
  background-color: #C8A2C8;
  position: relative;
}

.content {
  max-width: 600px;
  margin: 40px auto;  
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column
}

.swiper-slide img {
  width: 200px;
  height: 200px;
}

.rose1 {
  position: absolute;
  top: 0;
  right: 22%;
}

.rose2 {
  position: absolute;
  top: 35%;
  right: 22%;
}

.rose3 {
  position: absolute;
  top: 70%;
  right: 22%;
}

.rose4 {
  position: absolute;
  top: 0;
  left: 22%;
}

.rose5 {
  position: absolute;
  top: 35%;
  left: 22%;
}

.rose6 {
  position: absolute;
  top: 70%;
  left: 22%;
}

.text1 {
  font-size: 20px;
}

.first-message {
  font-size: 30px;
}

.long-call {
  font-size: 25px;
  font-weight: 800;
  margin: 0;
}